<div class="container">
  <div id="pharmacy-landing" class="row ">
    <form id="file-2-find" role="form" novalidate>
      <div class="vertical-align input-group input-group-lg">
      <span class="input-group-addon" style="width: auto"><i class="fa fa-female"></i></span>
      <input id="file-2" class="form-control fileman-autocomplete" type="text" 
        data-fileman='{"file": {"number": "2"}, "quantity": 4}'>
      </div>
    </form>
    <hr />
  </div>

  <!-- Still inside the main container -->
  <div class="alert alert-info" role="alert">Or select a pending order from below.</div>
  <!-- Tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#outpatient-pending-table" aria-controls="outpatient-pending-table" role="tab" data-toggle="tab">Outpatient <span class="badge"></span></a></li>
    <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inpatient <span class="caret"></span><span class="badge"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#inpatient-pending-table" aria-controls="inpatient-pending-table" role="tab" data-toggle="tab">UD <span class="badge"></span></a></li>
        <li><a href="#inpatient-pending-table" aria-controls="inpatient-pending-table" role="tab" data-toggle="tab">IV <span class="badge"></span></a></li>
      </ul>
    </li>
  </ul>


  <!-- Tab Content -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="outpatient-pending-table">
      <table class="table">
        <tr>
          <th>Clinic Name&nbsp;<i class="fa fa-caret-down sortable" aria-hidden="true"></i></th>
          <th>Count&nbsp;<i class="fa fa-caret-down sortable" aria-hidden="true"></i></th>
        </tr>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="inpatient-pending-table">
      <table class="table">
        <tr>
          <th>Ward Group or Clinic Name</th>
          <th colspan="2">Pending Orders</th>
          <th colspan="2">Non-verified Orders</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>IV</th>
          <th>UD</th>
          <th>IV</th>
          <th>UD</th>
        </tr>
      </table>
    </div>
  </div>
</div>
