<div id="modal-dialog" class="modal-dialog">
  <div class="modal-content login">
    <div class="modal-header">
      <h3 class="modal-title">Patient List</h3>
			<h4 class="modal-title">Patients <span class="badge" id="patientCount"></span>&nbsp;|&nbsp;Orders <span class="badge" id="orderCount"></span></h4>
    </div>
    
    <div class="modal-body">
      <div class="col-md-10">
        <legend>Select a Patient to Process</legend>
        <h4><i class="fa fa-caret-right">&nbsp;</i>Filters <a class="floatRight" id="clearChecks">Clear Filters</a></h4> 
        <div id="filters" style="display: none">
          <label>Show Only</label>
          <input type="checkbox" id="winOnly">Window/Inhouse</input> |
          <input type="checkbox" id="mailOnly">Mail</input> |
          <input type="checkbox" id="renewalsOnly">Renewals</input> |
          <input type="checkbox" id="nonformOnly">Non-formulary</input> |
          <input type="checkbox" id="cIIOnly">C-II Only</input> |
          <input type="checkbox" id="cIIIVOnly">C-III to C-V Only</input>
          <br />
          <label for="provider">Filter by Provider</label>
          <select id="provider"></select>
          &nbsp;|&nbsp;
          <label for="class">Filter by VA Drug Class</label>
          <select id="class"></select>
          &nbsp;|&nbsp;
          <label for="drug">Filter by Drug</label>
          <select id="drug"></select>
          <br />
          <label for="daterange">Filter by Earliest Order</label>
          <input type="text" name="daterange" id="daterange">
        </div>
      </div>
      <div class="col-md-2">
        <legend>Process Many</legend>
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-primary" id="procDisplayed">Process Displayed</button>
          <button type="button" class="btn btn-warning" id="procSelected">Process Selected</button>
        </div>
      </div>
      <table class="table">
        <thead><tr></tr></thead>
        <tbody></tbody>
      </table>
    </div>
    
    <div class="modal-footer">
    </div>
  </div>
</div>
