.vertical-align {
  display: flex;
  align-items: center;
}

.fa-caret-down, .fa-caret-up, .fa-eye-slash, #tableReset,
#outpatient-refresh-info, #inpatient-refresh-info,
#clearChecks
{
  cursor: pointer;
}

.floatRight {
  float: right;
}

.flag-red {
  color: red;
}

.flag-blue {
  color: blue;
}

.table-highlight {
  cursor: pointer;
  background: #FFFDF1;
}

.modal-dialog{
  width: 90%;
}

select#class, select#provider, select#drug {
  width: 200px;
}
input#daterange {
  width: 350px;
}
div.modal-body div#filters {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 6px;
}
