.vertical-align {
  display: flex;
  align-items: center;
}

.fa-caret-down, .fa-caret-up {
  cursor: pointer;
}

.table-highlight {
  cursor: pointer;
  background: #FFFDF1;
}

.modal-dialog{
  width: 90%;
}

