/*
 * Basic global adjustments: margin, padding, and overflow.
 */

#twinlist {
    /*
     * Panel transitions are cleaner when background and foreground colors
     * are defined here.
     * 
     * Hidden overflow maintains the panel illusion (no scroll bars).
     */
    background: #fafafa;
    color: #333333;
    overflow: hidden;
    height: 100%;
}

#twinlist a {
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    user-select: none;
}

#twinlist a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #777777;
}


/*
 * Enable horizontal panels.
 */
#twinlist #panel {
    /*
    position: absolute;
    width: 100%;
    height: 100%;
    */
    
    transition: all 0.8s cubic-bezier(0.3, 0.3, 0.1, 0.99);
}

#twinlist .hide-left {
    transform: translateX(-100%);
}

#twinlist .hide-right {
    transform: translateX(100%);
}

#twinlist .forward {
    font-family: "Andale Mono", monospace;

    padding: 0.5em;
    position: absolute;

    transition: all 0.ss;
    
    border-left: 0.4em solid #999999;
    right: 0;
}

#twinlist .forward:hover {
    padding-right: 3em;
    text-decoration: none;
}

#twinlist .top {
    top: 5%;
}

#twinlist .bottom {
    bottom: 5%;
}

/*
 * Intro panel (hides to the left).
 */
#twinlist #intro h1, #twinlist #intro h2 {
    margin: 3% 0;
}

#twinlist #intro h1 {
    letter-spacing: 0.25em;
}

#twinlist #intro a, #twinlist #intro h4 {
    color: #666666;
}

#twinlist #ul_config li {
	height: 2em;
}

#twinlist #intro select {
	height: 2em;
}

#twinlist .column {
    height: 100%;

    position: absolute;
}

#twinlist .column.left {
    padding: 7.5% 5%;
    width: 30%;
}

#twinlist .column.right {
    padding: 5% 7.5%;
    width: 45%;
    right: 0;
}

#twinlist .sub-blurb {
    margin: 15% 0;
}

#twinlist .sub-blurb p {
    text-align: justify;
    margin: 5% 0;
}


/*
 * Main panel. Hides to the left or right, depending.
 */
#twinlist .banner {
    background: #333333;
    line-height: 250%;
    margin: 0;
    padding: 0;
}

#twinlist .logo, .nav-item {
    display: inline;
}

#twinlist .logo {
    font-size: 175%;
    font-weight: normal;
    color: #f0f0f0;
    letter-spacing: 0.25em;
    
    margin-left: 5%;
}

#twinlist .main-nav {
    font-size: 90%;
    float: right;
    margin-right: 5%;
}

#twinlist .nav-link {
    color: #999999;
    margin: 0 1em;
}

#twinlist .nav-link:hover {
    color: #f0f0f0;
    cursor: pointer;
}

#twinlist #app .active {
    text-decoration: underline;
}

#twinlist #app .inactive {
    color: #666666 !important;
    text-decoration: line-through !important;
}




#twinlist #app > .content {
    /*
    position: absolute;
    */
    margin: 0.75em 5%;
    height: 70%;                    /* fallback */
    width: 90%;

    user-select: none;
}

#twinlist .scrolling_content {
    position: absolute;
    overflow-x: hidden;
    height: 70%;                    /* fallback */
    width: 90%;
    
    user-select: none;
}

#twinlist .backdrop {
    border-bottom: 0.3em solid #f3f3f3;
    border-collapse: collapse;
    width: 100%;
}

#twinlist .backdrop th {
    color: #f0f0f0;
    font-weight: normal;
    text-align: left;

    padding: 0.75em 1em 0.5em 1em;
    width: 20%;
}

#twinlist .backdrop th:first-child {
    border-top-left-radius: 0.2em;
}

#twinlist .backdrop th:last-child {
    border-top-right-radius: 0.2em;
}

#twinlist .col-header .name {
    margin-bottom: 0.4em;
}

#twinlist .col-header .action {
    font-size: 75%;
}

#twinlist .col-header .action ul, .col-header .action li {
    display: inline;
    padding: 0;
}

#twinlist .col-header .action li:first-child::after {
    opacity: 0.6;
    content: "|";
}

#twinlist .col-header .action li:last-child::before {
    opacity: 0.6;
    content: "[";
}

#twinlist .col-header .action li:last-child::after {
    opacity: 0.6;
    content: "]";
}

#twinlist .col-header .action li:last-child {
    float: right;
}

#twinlist .col-header .action a {
    opacity: 0.6;
    color: #f0f0f0;
}

#twinlist .col-header .action a:hover {
    opacity: 1;
    color: #f0f0f0;
}

#twinlist .keep {
    margin-right: 0.3em;
}

#twinlist .reject {
    margin-left: 0.3em;
}

#twinlist .clear {
    margin: 0 0.5em;
}

#twinlist .backdrop tr {
    transition: background 0.8s ease-in-out;
}

#twinlist .backdrop td, .item .header, .item .detail, .diagnosis .header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#twinlist .backdrop td, .item {
    width: 18%;
    height: 4.0em;
    padding: 0.6em 0.5em 0.4em 0.5em;
    
    transition: background 0.8s;
}


#twinlist .diagnosis {
    width: 18%;
    height: 1.5em;
    padding: 0.6em 0.5em 0.4em 0.5em;
    transition: background 0.8s;
}


#twinlist .item, #twinlist .diagnosis {
    position: absolute;
    
    transition: transform 0.2s ease-in-out,
            opacity 0.2s;
            
    z-index: 10;	/* > 1 to be above shadows (ghosts) */
}

#twinlist .item:hover,#twinlist .item-hover,#twinlist .diagnosis:hover {
    transform: translateX(2%);
    
    text-overflow: ellipsis;
}

#twinlist .item .header, #twinlist .diagnosis .header {
    margin-bottom: 0.15em;
}

#twinlist .item .name {
    font-weight: bold;
    margin: 0 0.2em;
    padding: 0 0.2em;
    
    transition: background 0.4s;
}

#twinlist .diagnosis .name {
    font-weight: lighter;
    font-style: italic;
    margin: 0 0.2em;
    padding: 0 0.2em;
    
    transition: background 0.4s;
}

#twinlist .item .detail span {
    font-size: 80%;
    margin: 0 0.3em;
    padding: 0 0.2em;
}

#twinlist .shadow {
    color: #bbbbbb;
    opacity: 0.6;
    z-index: 1;	/* > 0 to be above the backdrop */
}


/* TODO ellipsis coloring issues here... */
#twinlist .undecided-hover {
    background: #555555;
    border-radius: 0.2em;
    color: #f0f0f0;
}

#twinlist .third-col-anchor-hover {
    background: rgb(223, 243, 235);
    border-radius: 0.2em;
    color: #333333;
}

#twinlist .diagnosis-hover {
	background: rgb(21, 99, 77);
    border-radius: 0.2em;
    color: #f0f0f0;
}

#twinlist .accepted {
    background: #8fbe00;
    border-radius: 0.2em;
    color: #f0f0f0;
}

#twinlist .rejected {
    color: #bbbbbb;
    text-decoration: line-through;
}

#twinlist .modified .name::before {
    content: "*";
    margin-right: 0.5em;
}


#twinlist .difference {
    transition: background 0.4s;
}

#twinlist .highlight {
    color: #333333;
    background: #f2e4ac;
    border: 1px solid #f0e0a3;
    border-radius: 0.2em;
    
    transition: all 0.4s;
}


#twinlist .groups .label {
    color: #333333;
    font-size: 60%;
    font-style: italic;
    position: absolute;
    
    opacity: 0;
    
    transition: all 0.8s;
}

#twinlist .diagnoses .diagnosis {
	position: absolute;
}

#twinlist .groups .label.show {
    opacity: 1;
}


#twinlist #app > .detail {
    position: absolute;
    bottom: 3em;
    margin: 0 5%;
    width: 90%;
}

#twinlist .label, #twinlist #app > .detail .content {
    display: table-cell;
    margin: 0;
    padding: 0.75em;
}

#twinlist .label {
    color: #f0f0f0;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

#twinlist #app > .detail .content {
    font-size: 95%;
    width: 100%;

    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#twinlist #app .annotation {
    position: absolute;
    bottom: 1em;
    left: 5%;
}


#twinlist .branding {
    position: absolute;
    bottom: 0;
    right: 0;
    
    margin: 0.5em 5%;
    width: 20%;
    
    text-align: right;
    display: inline;
    background-color: white;

    overflow-x: hidden;
}

#twinlist .branding ul, #twinlist .branding li {
    display: inline;
}

#twinlist .branding .logo {
    height: 1em;
}


#twinlist .scrolltip {
    background: #54787d;
    border-radius: 0.2em;
    color: #f0f0f0;
    text-align: right;

    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0.25em;
    width: 7.5em;
    
    position: absolute;
    right: 5%;

    opacity: 0;
    
    transform: translateY(50%);
    transition: all 0.2s;
}


#twinlist #app > .modify {
    font-size: 90%;
}

#twinlist #app > .modify a {
    position: absolute;
    right: 0;
    
    padding: 0.5em;
    width: 3%;
    
    transition: all 0.2s;
}

#twinlist #app > .modify a:hover {
    width: 5%;
}

#twinlist #app > .review_button {
    font-size: 90%;
}

#twinlist .disabled_button {
	color: #BBBBBB;
}

#twinlist #app > .review_button a {
    position: absolute;
    right: 0;
    
    padding: 0.5em;
    width: 3%;
    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    
    transition: all 0.2s;
}

#twinlist #app > .review_button a:hover {
    width: 10em;
}

#twinlist #app > .cancel_button {
    font-size: 90%;
}

#twinlist #app > .cancel_button a {
    position: absolute;
    right: 0;
    
    padding: 0.5em;
    width: 3%;
    
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    
    transition: all 0.2s;
}

#twinlist #app > .cancel_button a:hover {
    width: 5%;
}

#twinlist .patient_name {
	font-size: 80%;
	/* TODO figure out ellipses */
}



#twinlist .twinlist-modal {
    padding: 2em;
    border: 1px solid #999999;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    
    background: #f8f8f8;
    background: gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8));
    background: linear-gradient(top, #ffffff, #f8f8f8);
    
    color: #333333;
 
    transition: all 0.2s;
    backface-visibility: hidden;
    transition: all 0.2s;
    
    z-index: -100;
    opacity: 0;
}


#twinlist .alert-modal {
    position: absolute;
    width: 30%;
    top: 25%;
    left: 32.5%;
    border-radius: 0.5em;
    
    transform: translateY(-100%);
}

#twinlist .alert-modal a {
    color: #333333;
}

#twinlist .alert-modal strong {
    color: #dd4b39;
}

#twinlist .help-modal {
    display: block;
    position: absolute;
    left: 12.5%;
    top: 0;
    width: 70%;
    height: 80%;
    overflow: auto;
	
    transform: translateY(-100%);
}

#twinlist .modify-modal {
    display: block;
    position: absolute;
    left: 12.5%;
    top: 0;
    width: 70%;
    height: 80%;
    overflow: auto;
    
    transform: translateY(-100%);
}

#twinlist #app .help-modal li {
    margin-left: 2em;
}

#twinlist .show {
    transform: translateY(0);
    
    z-index: 500;
    opacity: 1;
}

#twinlist .close {
    margin-top: 1em;
    width: 5em;
    float: right;
}



#twinlist .options-panel {
    background: #333333;
    color: #999999;
    font-size: 80%;
    
    border-collapse: collapse;
    
    position: absolute;
    right: 0;
    top: 0;
    width: 97%;
    
    border-bottom-left-radius: 0.2em;
    
    opacity: 0;
    
    transform: translateY(-200%);
}

#twinlist .options-panel td:nth-child(odd) {
    padding: 0.25em 0 0.25em 2em;
}

#twinlist .options-panel td:nth-child(even) {
    padding: 0.25em 0 0.25em 0.5em;
}

#twinlist .options-panel select, .options-panel input[type="text"] {
    width: 100%;
}

#twinlist .options-panel li {
    display: inline;
    padding: 0;
    margin: 0;
}

#twinlist .options-panel a {
    color: #999999;
}

#twinlist .options-panel a:hover {
    color: #f0f0f0;
}


/*
 * Review panel (hides to the right).
 */
#twinlist #review h1 {
    display: inline;
}

#twinlist #review table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#twinlist #review th {
    padding: 0.5em 0.4em;
    text-align: left;
}

#twinlist #review .content th {
    padding: 0.4em;
}

#twinlist #review td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    height: 2.5em;
    margin: 0;
    padding: 0.5em 0;
}

#twinlist #review .content {
    position: absolute;
    margin: 0 0 0 10%;
}

#twinlist #review .content {
    top: 25%;
    width: 80%;
}

#twinlist #review .content {
    overflow-x: hidden;
    
    top: 30%;
    height: 55%;
    width: 80%;
}

#twinlist #review .item {
    position: inherit;
}

#twinlist #review .annotation {
    margin-left: 2em;
}


/*
 * Add / edit panel (hides to the right).
 */
#twinlist #modify, #review {
    margin: 10% 5%;
}

#twinlist #modify h1, #review header {
    position: absolute;
    top: 12%;
    margin: 3% 0;
}

#twinlist .fields {
    margin-top: 10%;
    position: absolute;
    right: 5%;
    width: 31%;
}

#twinlist .fields label {
    float: left;
    padding: 1%;
    margin: 2% 1% 2% 0;
    text-align: right;
    width: 30%;
}

#twinlist .fields input, #twinlist .fields textarea {
    border: 0.1em solid #bbbbbb;
    border-radius: 0.2em;
    
    font-size: 90%;
    font-family: "Andale Mono", monospace;
    
    margin: 2% 0 2% 1%;
    padding: 1%;
    width: 60%;
}

#twinlist .fields textarea {
    resize: vertical;
}

#twinlist .fields :placeholder {
    font-style: italic;
    opacity: 0.8;
}

#twinlist .preview {
    background: white;
    border: 0.1em dashed #bbbbbb;
    border-radius: 0.2em;

    position: absolute;
    top: 40%;
    left: 20%;
}

#twinlist #modify .action, #twinlist #review .action {
    position: absolute;
    right: 5%;

    top: 70%;
    width: 35%;
}

#twinlist .save, #twinlist .response {
    float: right;
    padding: 0.5em;
}

#twinlist .save {
    border-left: 0.4em solid #999999;
    width: 90%;
    
    transition: all 0.2s;
}

#twinlist .save:hover {
    width: 100%;
    text-decoration: none;
}

#twinlist .response {
    font-size: 95%;
    opacity: 0;
    
    transition: all 0.4s;
}

#twinlist .response .back::before {
    content: "[ ";
}

#twinlist .response .back::after {
    content: " ]";
}

#twinlist .watermark {
    font-size: 300%;

    position: absolute;
    bottom: 15%;
    
    opacity: 0.4;
    pointer-events: none;
}


/*
 * Utility: colors, fonts, ...
 */
#twinlist .content-text {
    font-family: "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;
}

#twinlist .explanatory-text {
    font-family: "Andale Mono", monospace;
}

#twinlist .keyword {
    font-weight: normal;
}

#twinlist .link {
    text-decoration: underline;
}

#twinlist .warning {
    color: #dd4b39;
}

#twinlist .annotation {
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
}

#twinlist .bg-accent {
    background: #54787d;
}

#twinlist thead {
	z-index: 999;	/* > 10 to be above items, > 500 to be above .show */
}

#twinlist .bg-contrast-light {
    background: #f0f0f0;
}

#twinlist .bg-contrast-dark {
    background: #e5e5e5;
}

#twinlist .show {
    opacity: 1;
    transform: translate(0, 0);
}

/* TODO better place to put this stuff */
#twinlist .num_remaining {
	text-decoration: underline;
}
